<div class="toolbar nav-fixed" role="banner">
  <img src="../../assets/img/github.svg" />
  <span class="ml-1 title">{{ title }}</span>

  <div class="spacer"></div>

  <button *ngIf="!status" class="github-btn mt-2 mr-3" (click)="githubLogin()">
    {{ buttonTitle }}
  </button>

  <div *ngIf="status" class="toolbar mr-3">
    <span class="title">{{ user.name }}</span>

    <img [src]="user.avatar_url" alt="avatar_url" class="avatar" />

    <img
      src="../../assets/img/exit.svg"
      height="40"
      width="40"
      class="cursor-pointer"
      (click)="logout()"
    />
  </div>
</div>
<br /><br />

<div class="container" *ngIf="!status">
  <div class="row">
    <div class="col-12 mt-5 text-center">
      <h1>Chat for GitHub Developers?</h1>

      <div class="row mt-5">
        <div class="col-lg-4 mt-3" *ngFor="let perk of perks">
          <img [src]="perk.img" alt="img" height="150" width="150" />
          <h2>{{ perk.title }}</h2>
          <p>
            {{ perk.description }}
          </p>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
